.home-container {
  min-height: 100vh;
  padding: 3rem;
  background: linear-gradient(180deg, #dfe9f3, #ffffff);
  font-family: 'Poppins', sans-serif;
  color: #2c2c2c;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.default body {
  background: linear-gradient(180deg, #101C29 0%, #1D1F5A 100%);
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.home body {
  background: #fff;
  color: #000;
}
